*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar{
     margin: 5px;
    border: 1px solid black;
    border-radius: 7px;


}
.dashboard{
    display: flex;
    justify-content: space-evenly;
     max-width: 100%  !important;
     height: 100vh;
     
}

.dashboard-row{
    width: 100%;

}
.header{
    display: flex;
    justify-content: space-between;
}

.login_box{
    border: 2px solid rgb(12, 12, 24);
    margin-top: 40px;

}
.login_content{
    display: flex;
    
    
     
}
